.Modal {
    list-style-type: none;
    width : 40vw;
    margin: auto;
    background-color: cornsilk;
    padding : 2rem;
}

.Modal li{
    padding : 1rem;
    font-weight: bold;
}

.hide {
    display : none;
}


